.mapAnalyse {

  color: $color-text-black;

  &-content {

    padding-top: 30px;
    div {
      display: flex;
      justify-content: space-between;
      span {
        width: 25%;
        text-align: center;
      }
    }
    div:nth-child(-n+4) {
      color: #F7931E;
    }
    div:nth-child(1) {
      color: inherit;
    }
    div:nth-child(n+5) {
      color: #09DB1A;
    }
  }
}