@import url("https://fonts.googleapis.com/css?family=Roboto");
/* RESET
   by Eric Meyer
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
 * TOOLS
 */
/*
   BASIC STYLES
  */
html, body {
  height: 100%;
  font-size: 19px;
  -webkit-overflow-scrolling: touch; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 19px;
  margin: 0;
  padding: 0;
  width: 100%;
  color: #505050;
  background: #FFF;
  overflow-x: hidden !important;
  -webkit-font-smoothing: antialiased;
  line-height: normal;
  height: 100%; }

*,
*:before,
*:after {
  box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

h2, h3, p {
  margin-top: 0;
  margin-bottom: 0; }

strong {
  font-weight: 700; }

a {
  color: #505050;
  text-decoration: none;
  cursor: pointer; }

br {
  opacity: 0; }

h1 {
  font-size: 30px; }

h2 {
  font-size: 24px; }

section {
  padding: 40px; }

.history-content {
  height: 30vh;
  overflow: hidden; }
  .history-content div {
    display: flex;
    justify-content: space-between; }
    .history-content div span {
      width: 25%;
      text-align: center; }
  .history-content .history-extend {
    position: relative;
    bottom: -10px;
    background-color: red;
    opacity: .8; }
    .history-content .history-extend p {
      margin: auto;
      padding: 10px; }

.hero {
  display: flex;
  width: 100%;
  justify-content: space-between; }
  .hero-Bio div {
    display: flex; }
    .hero-Bio div p {
      margin-right: 7px; }
  .hero-levels ul {
    padding-left: 20px; }
    .hero-levels ul li {
      display: flex; }
      .hero-levels ul li p {
        margin-right: 7px; }
  .hero-career ul {
    padding-left: 20px; }
    .hero-career ul li {
      display: flex; }
      .hero-career ul li p {
        margin-right: 7px; }

.mapAnalyse-content div {
  display: flex;
  justify-content: space-between; }
  .mapAnalyse-content div span {
    width: 25%;
    text-align: center; }

.mapAnalyse-content div:nth-child(-n+4) {
  color: red; }

.mapAnalyse-content div:nth-child(1) {
  color: inherit; }

.mapAnalyse-content div:nth-child(n+5) {
  color: blue; }
