@import url("https://fonts.googleapis.com/css?family=Roboto");
/* RESET
   by Eric Meyer
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
 * TOOLS
 */
/*
   BASIC STYLES
  */
html, body {
  height: 100%;
  font-size: 19px;
  -webkit-overflow-scrolling: touch; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 19px;
  margin: 0;
  padding: 0;
  width: 100%;
  color: #FFF;
  background: #FFF;
  overflow-x: hidden !important;
  -webkit-font-smoothing: antialiased;
  line-height: normal;
  height: 100%; }

*,
*:before,
*:after {
  box-sizing: border-box; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

h2, h3, p {
  margin-top: 0;
  margin-bottom: 0; }

strong {
  font-weight: 700; }

a {
  color: #FFF;
  text-decoration: none;
  cursor: pointer; }

br {
  opacity: 0; }

h1 {
  font-size: 30px; }

h2 {
  font-size: 24px; }

section {
  padding: 40px; }

body {
  max-width: 1200px;
  margin: auto; }

.history-content {
  height: 30vh;
  overflow: hidden;
  padding-top: 30px; }
  @media screen and (max-width: 800px) {
    .history-content {
      height: auto;
      overflow: hidden; }
      .history-content .history-extend {
        display: none; } }
  .history-content div {
    display: flex;
    justify-content: space-between; }
    .history-content div span {
      width: 25%;
      text-align: center; }
  .history-content .history-extend {
    color: #FFF;
    position: relative;
    bottom: 55vh;
    background-color: rgba(17, 92, 196, 0.8);
    width: 20%;
    margin: auto;
    border-radius: 50px;
    transition: opacity 0.3s; }
    .history-content .history-extend:hover {
      opacity: 0.8; }
    .history-content .history-extend .arrow {
      position: absolute;
      left: 44%;
      top: 100%;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid rgba(17, 92, 196, 0.8);
      clear: both; }
    .history-content .history-extend p {
      margin: auto;
      padding: 5px; }

.history {
  color: #505050; }

.bgHero {
  background-image: url("https://image.redbull.com/rbcom/010/2014-02-16/1331633574649_2/0100/0/1/zerg-attack.jpg");
  background-repeat: no-repeat; }

.hero {
  background-color: rgba(17, 92, 196, 0.8);
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }
  .hero-Bio img {
    border: solid 1px black;
    padding: 2px;
    margin: 10px; }
  .hero-Bio div {
    display: flex; }
    .hero-Bio div p {
      margin-right: 7px; }
  .hero-levels ul {
    padding-left: 20px; }
    .hero-levels ul li {
      display: flex; }
      .hero-levels ul li p {
        margin-right: 7px; }
  .hero-career ul {
    padding-left: 20px; }
    .hero-career ul li {
      display: flex; }
      .hero-career ul li p {
        margin-right: 7px; }

.mapAnalyse {
  color: #505050; }
  .mapAnalyse-content {
    padding-top: 30px; }
    .mapAnalyse-content div {
      display: flex;
      justify-content: space-between; }
      .mapAnalyse-content div span {
        width: 25%;
        text-align: center; }
    .mapAnalyse-content div:nth-child(-n+4) {
      color: #F7931E; }
    .mapAnalyse-content div:nth-child(1) {
      color: inherit; }
    .mapAnalyse-content div:nth-child(n+5) {
      color: #09DB1A; }
