
@import url('https://fonts.googleapis.com/css?family=Roboto');
//  Start environment (variables utiles)
/////////////////////////////


$blue-text: #99ccff;
$orange-text: #ffdd99;

$blue-Bg: rgba(17, 92, 196, 0.8);;
//COLORS
$orange   : #e75113;
$red : #e22136;
$violet: #2d204c;

$dark : #505050;
$white : #FFF;


$color-bg: $white;
$color-text : $white;
$color-text-black : $dark;



//FONTS
$font-main   :  'Roboto', sans-serif;
$font-size : 19px;


//OTHER
$bezier : cubic-bezier(.58,.01,.19,1);




